.gallery {
    position: relative;
    max-width: 800px;
    height: 300px;
    margin: 0 auto;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.gallery-link {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gallery-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.gallery-arrows {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
    pointer-events: none; /* Allow clicks to pass through */
}

.arrow {
    cursor: pointer;
    font-size: 24px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    pointer-events: auto; /* Restore click events only on arrows */
    z-index: 1;
}


.dots-container {
    text-align: center;
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.dot {
    height: 12px;
    width: 12px;
    margin: 0 2px;
    background-color: #bbb; /* Default dot color */
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
}

.dot.active {
    background-color: #857251; /* Active dot color */
}
